@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  text-align: center;
  margin: 0px;
  padding: 10px;
  background: #e1ebee;
  min-width: 400px;
  max-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  border-bottom: solid 2px green;
  background-color: whitesmoke;
}
.generic-btn {
  border: solid 1px rgb(6, 180, 180);
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(6, 180, 180);
}
.remove-btn {
  background-color: rgb(151, 15, 15);
  border: solid 1px rgb(151, 15, 15);
}
.text-class {
  text-align: left;
  margin: 0px 25px;
}
li {
  border-bottom: solid 1px whitesmoke;
  background-color: rgb(195, 245, 241);
  list-style-type: none;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
}
.list-class {
  text-align: left;
  border: solid 2px rgb(6, 180, 180);
  border-radius: 2px;
  padding: 10px;
}
.null-list-class {
  border: none;
}
a {
  font-family: 'Patrick Hand', cursive;
  color: rgb(6, 180, 180);
  word-wrap: break-word;
}
#alert-el {
  color: red;
  font-family: 'Glory', sans-serif;
  font-size: 13px;
}
.generic-btn:hover {
  color: rgb(6, 180, 180);
  background-color: whitesmoke;
  border: solid 1px rgb(6, 180, 180);
}
.remove-btn:hover {
  color: rgb(151, 15, 15);
  border: solid 1px rgb(151, 15, 15);
}
li:hover {
  border-color: rgb(195, 245, 241);
  background-color: whitesmoke;
}
